{{! mmi-badbot/templates/denied.mustache }}

<!DOCTYPE html>
<head>
	<title>Access Denied</title>
	<link href="{{{_url_root}}}/media/css/badbot.css" rel="stylesheet" type="text/css">
</head>
<body>
	<div id="blackhole">
		<h1>You have been banned from this&nbsp;domain</h1>
		<p>
			If you think there has been a mistake, send a message to
			<a href="http://twitter.com/#!/{{_twitter_username}}">@{{_twitter_username}}</a> 
			and we'll sort it out.
		</p>
	</div>
</body>
</html>